.position-relative
    .header_triangle-topleft.d-lg-block.d-none
    .drops_photo.d-sm-block.d-none(style='background: url(../assets/drops.png) no-repeat')
    .container 
        .row.info.justify-content-between 
            .col-3 
                img.header_logo-photo(src="/assets/Logo.svg" alt='logo') 
            .col-lg-3.d-flex.flex-column.align-items-end(style="flex-basis:content;")
                p.telephone +7 (965) 390-46-99
                a.back-call(href ='#!') Обратный звонок
        .row.header.d-flex.justify-content-end
            .col-lg-5.col-md-6.d-flex.flex-column.align-items-end.col-sm-7.col-8
                h3.header_title Увлажнители CAREL
                ul.header_list 
                    li.header_list-item.d-flex  
                        img.header_list-photo(src="/assets/list-photo.svg")
                        span Сервисное обслуживание     
                    li.header_list-item.d-flex.justify-content-end 
                        img.header_list-photo(src="/assets/list-photo.svg")
                        span Монтаж
                    li.header_list-item.d-flex
                        img.header_list-photo(src="/assets/list-photo.svg")
                        span Оригинальные запасные части       
                button.header_button
                    span.header_button-span Выбрать товар
                        
    img.header_photo.d-sm-inline-block.d-none(src="/assets/big_humidifier.png" alt='Humidifier' )
    .header_big-line.d-md-block.d-none            
                        
            