doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="~owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="~lightbox2/dist/css/lightbox.css")
        title Document
    body
        #wrapper 
            include ./header.pug
            include ./services.pug 
            include ./man.pug
            include ./repair.pug
            include ./humidifiers.pug
            include ./reviews.pug
            include ./woman.pug
