include ./mixin.pug
.position-relative
    .container
        .row.man_text
            .col-lg-7.col-md-9 
                p.man_subtitle Своевременное сервисное обслуживание исключает вероятность поломки оборудования и выхода из строя всей системы увлажнения, что  абсолютно недопустимо в условиях объектов специального назначения, таких как:
        .man 
            .col-md-8.col-sm-10 
                +list        
    .man_photo.d-md-block.d-none(style='background: url(../assets/Man.png) no-repeat')
    .container 
        .man_form
            .col-xl-6.col-lg-7 
                h4.man_form-title Хотите исключить вероятность поломки оборудования?
                h4.man_form-title Мы поможем вам в этом!
                +form  
    .man_big_red-block
    .man_triangle-right.d-sm-block.d-none
        