.position-relative
    .container
        .repair.d-flex.justify-content-center
            .col-xl-9.col-lg-10
                h2.repair_title Так же у нас вы можете приобрести оригинальные запасные части для увлажнителей CAREL
        .row.repair_pluses.d-flex.justify-content-around
            .col-md-3.col-sm-6.col-5 
                .repair_pluses_block-first.d-flex
                    img(src="/assets/price-tag.svg" style="width:56px; height:56px")
                    p.repair_subtitle.align-self-end Низкие цены 
            .col-md-3.col-sm-8.col-8
                .repair_pluses_block-second.d-flex
                    img(src="/assets/hands.svg" style="width:53px; height:56px")
                    p.repair_subtitle.align-self-end Всегда есть в наличии 
            .col-xl-3.col-lg-4.col-md-4.col-sm-7.col-8
                .repair_pluses_block-third.d-flex
                    img(src="/assets/car.svg" style="width:57px; height:36px")
                    p.repair_subtitle Быстрая доставка        
    .repair_big-line
    .repair_triangle-left.d-sm-block.d-none