.position-relative
    .container
        .reviews_block 
            h1.reviews_block-title.col-md-7.col-sm-10 Отзывы наших клиентов
            p.reviews_block-subtitle.col-md-8.col-sm-10 Ежегодно мы оказываем сервисные услуги более 100 организациям на территории РФ. Имея значительный опыт и знание особенностей оборудования, сертифицированные специалисты, выполняют полный комплекс услуг по контролю и сервисному обслуживанию систем увлажнения воздуха на объектах различного уровня сложности.
            .owl-carousel.owl-theme
                +carousel 
    .reviews_block_big-line