.position-relative
    .services_triangle-right
    .container
        .services-center
            .col-5
                h1.services-center_title Сервисный центр 
            .col-8 
                p.services-center_subtitle Увлажнители воздуха Carel — это синоним качественной и надежной техники, способной прослужить на объектах различного назначения долгие годы. 
        .important_components.d-flex.flex-column
            .col-xl-6.col-lg-8.align-self-center
                h2.important_components_title 3 важных составляющих 
            .col-8.align-self-center     
                p.important_components_subtitle длительной эксплуатации высокотехнологичного оборудования и сохранения его первоначальных свойств:
        .row.components_list.justify-content-around
            .col-md-3.col-sm-8 
                p.components_list_first-item Качественная техника
                span.components_list_first-number 1
            .col-xxl-4.col-md-5.col-sm-11 
                p.components_list_second-item Постоянный надзор специалистов сервисной службы
                span.components_list_second-number 2
            .col-xl-4.col-lg-4.col-md-4.col-sm-11 
                p.components_list_third-item Регулярное проведение профилактических работ  
                span.components_list_third-number 3   
    .services_big-line