include ./mixin.pug
.position-relative
    .container
        .woman_form 
            .col-xl-6.col-lg-7 
                h4.woman_form-title Если у вас остались вопросы, мы с удовольствием на них ответим
                +form
        .info
            .d-flex.info_logo-block 
                span.info_developed Разработано
                .d-flex
                    img(src="/assets/info_logo.svg")
                    span.info_site MEVEN RU
            p.info_subtitle © 2019 CAREL. Все права защищены  
            p.info_subtitle Политика конфиденциальности 
    .woman_big_red-block
    .woman_photo.d-xl-block.d-none(style='background: url(../assets/Woman.png) right no-repeat; background-size: 67% 94%')
a(id="scroll-button")
    img(src="/assets/scroll-button-arrow.svg")
    
    